<div class="main-panel">
  <div class="content-wrapper">
    <div class="row mt-5">
      <div class="col-12">
        <app-topmenu></app-topmenu>
      </div>
    </div> 
    <form #baseForm="ngForm" class="form-horizontal border" >
        <div class="loading-box" *ngIf="arrangeKkeys.length == 0 " >
          <div class="spinner">
          <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-info" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-warning" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="spinner-grow text-light" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          
          </div>
        </div>
    <div class="row">

      <div class="col-lg-12 grid-margin stretch-card">
        
          <div class="card-body ">
            <div class="card border-0">
              <div class="card-header bg-white border-bottom px-0 mb-3">
                  <div class="d-flex align-items-start">
                      <div class="p-0 mr-auto" >
                          <h6 style="cursor: pointer;">Designer Create Asset Task: Summary</h6>
                      </div>
                      <div>
                      </div>
                  </div>
              </div>
            <div class="row">
              
              <div class="col-lg-12 mt-3">
                <div class="table-responsive">
                <table class="table table-bordered border-top">
                  <thead>
                    <tr class="font-weight-bold table-secondary">
                      <th>Current Stage</th>
                      <th class="text-center">Assignment</th>
                      <th colspan="3" class="text-center">Priority</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr >
                      <td>Art-2 Designer Create Asset </td>
                      <td></td>
                      <td class="text-center font-weight-bold">High</td>
                      <td class="text-center font-weight-bold">Medium</td>
                      <td class="text-center font-weight-bold">Low</td>
                  </tr>
                    <tr>
                      <td>Work In-Progress</td>
                      <td class="text-center"><a href="javascript:void(0)" (click)="allDataOfDCATastsummary()">{{dcaSummary.length}}</a></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Overdue</td>
                      <td class="text-center">
                        <a href="javascript:void(0)" (click)="overdueDataOfDCATastsummary()">{{overDuedt.length}}</a></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Current Work Load</td>
                      <td class="text-center"><a href="javascript:void(0)" (click)="allDataOfDCATastsummary()">{{dcaSummary.length}}</a></td>
                      <td class="text-center"><a href="javascript:void(0)" (click)="highDataOfDCATastsummary()">{{highDt.length}}</a></td>
                      <td class="text-center"><a href="javascript:void(0)" (click)="mediumDataOfDCATastsummary()">{{mediumDt.length}}</a></td>
                      <td class="text-center"><a href="javascript:void(0)" (click)="lowDataOfDCATastsummary()">{{lowDt.length}}</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

	<div class="">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card border-0">
          <div class="card-header bg-white px-0 mb-2">
              <div class="d-flex align-items-start">
                  <div class="p-0 mr-auto" >
                      <h6 style="cursor: pointer;">Designer Create Asset: Batch Wise Breakup Summary</h6>
                  </div>
                  <div>
                </div>
              </div>
          </div>
          <div class="card-body ">
            <div class="row">
              
              <div class="table-responsive">
                <table class="table table-bordered border-top">
                  <thead>
                    <tr class="font-weight-bold table-secondary">
                      <th *ngFor="let dt of arrangeKkeys; " style="width:110px"> G{{dt.grade}} M{{dt.module}} B{{dt.batch}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td *ngFor="let dt of arrangeKkeys; " style="width:110px"> {{dt.date}} </td>
                    </tr>
                    <tr>
                      <td *ngFor="let dt of arrangeKkeys; let i = index" style="width:110px" class="text-center"><a href="javascript:void(0);" (click)="getDateWideSummary(dt)"> {{arrangData[dt.key].length |json}} </a> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-12 px-0 mt-2 ">
                <div class="ui-dialog-buttonpane ui-helper-clearfix mt-2 text-right">
                <button type="button" class="ml-1 btn btn-sm " (click)="allDataOfDCATastsummary()" pButton icon="fa fa-check" label="Details View"></button>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<!--Modal dialog for bulk data verification-->
 <p-dialog header="Designer Create Asset: Summary" [(visible)]="summaryOfDCATaskModel" [responsive]="true" showEffect="fade" [modal]="true"  [contentStyle]="{'min-height':'100px','overflow':'visible' }" [style]="{width: '70%'}" [maximizable]="true">
  <div class="card">
    <div class="row mb-2">
        <div class="col-8  mt-2"> 
          Total No. of Jobs:<span class="font-weight-bold"> {{cartdata.length}}</span>
        </div>
        <div class="col-4 text-right "><a (click)="exportAsCSV()" class="text-white btn-primary btn btn-sm" >Export as CSV</a></div>
    </div>
    </div>
 <ag-grid-angular style="width: 100%; height: 400px;"
 class="ag-theme-balham"
    [rowData]="cartdata"
    [columnDefs]="cols"
    (gridReady)="onGridReady($event)"
    pagination="true">
  </ag-grid-angular>

  </p-dialog>
