.ui-dialog-resizable .ui-dialog-content {
    overflow: visible !important;
}
.btnload {
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: .75s linear infinite spinner-border;
    animation: .75s linear infinite spinner-border;
}
.batch {
    height: 1.45rem;
}