<app-alert-message>
</app-alert-message>
  
  <router-outlet>
  </router-outlet>
  
  <app-global-dropdown>
  </app-global-dropdown>
  
  <app-global-popup>
  </app-global-popup>
  <footer class="footer mt-auto py-2">
    <div class="container">
      <div class="d-flex justify-content-center">
        <span class="text-muted font"><small>Bynder Art Log Automation V.1 &copy;MPS LTD. 2019</small></span>
      </div>
    </div>
  </footer>
  
  <app-angular-loader #globalLoader>
  </app-angular-loader>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  
  <!-- <app-common-search-cs [searchModel]="documentReferenceModel"></app-common-search-cs> -->
  