.loading-box {
    height: 100%;
    width: 100%;
    background: #4032324d;
    position: absolute;
    z-index: 99;
}
.spinner{
    position: relative;
    text-align: center;
    top:59px;
}