<div class="container">
    <div class="row">
      <div class="col-sm">
          <div class="form-group">
              <label for="exampleInputEmail1">Job Key</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
      </div>
      <div class="col-sm">
          <div class="form-group">
              <label for="exampleInputEmail1">Lession</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
      </div>
      <div class="col-sm">
          <div class="form-group">
              <label for="exampleInputEmail1">Lession Letter</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
      </div>
      <div class="col-sm">
          <div class="form-group">
              <label for="exampleInputEmail1">Description</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
      </div>
      <div class="col-sm">
          <div class="form-group">
              <label for="exampleInputEmail1">Comments</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
      </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <label for="exampleInputEmail1">Art Complexity</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="exampleInputEmail1">Art Assignment</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="exampleInputEmail1">Revision Count</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="exampleInputEmail1">Print Quality</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
        <div class="col-sm">
            <div class="form-group">
                <label for="exampleInputEmail1">Print Quality2</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </div>
      </div>
  </div>