<div class="main-panel">
  <div class="content-wrapper">
    <div class="row mt-5">
      <div class="col-12">
        <ul class="nav nav-tabs border-bottom-0">
          <li class="nav-item">
            <a class="nav-link " [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/home']">Active Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/approved']">Approved Jobs</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/artdashboard']">Art Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/dashboard']">Art Productivity</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/scorecardview']">Scorecard View</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/performance']">Api Performance</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/scorecardview']">Recent Log</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Digital Asset Lead'">
            <a class="nav-link " [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/jobrefres']">Job Refresh</a>
          </li>
        </ul>
      </div>
    </div>
    <form #baseForm="ngForm" class="form-horizontal border" >
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card1 mb-0">

          <div class="card-body ">
            <div class="card border-0">
              <div class="card-header bg-white border-bottom px-0 mb-3">
                  <div class="d-flex align-items-start">
                      <div class="p-0 mr-auto" >
                          <h6 style="cursor: pointer;" >Summary Of Api Performance</h6>
                      </div>
                      <div>
                      </div>
                  </div>
              </div>

          </div>
        </div>
      </div>
    </div>

	<div class="">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card border-0">

          <div class="card-body ">
            <div class="row">
              <div class="table-responsive">
                <table class="table table-bordered border-top">
                  <thead>
                    <tr class="font-weight-bold table-secondary">
                      <th>API Name</th>
                      <!--- <th>Data Processed</th> -->
                      <th>API URL</th>
                      <th>API Response</th>
                      <th>API Execution Time</th>
                      <th>API Process Excution Time</th>
                      <th>Taken time</th>

                  </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let dt of ApiData" [ngClass]="{' alert-danger': dt.isError  }">
                      <td>{{ dt.apiTaskName }} {{ dt.dataProcessed.key}}</td>
                     <!-- <td> {{dt.APISendInfo.data | json}}</td>-->
                      <td> {{dt.APISendInfo.url }}</td>
                     <td class="text-center">{{ dt.responce | json }}</td>
                    <td class="text-center">{{ dt.process.startTime  }}, {{ dt.process.endTime  }}</td>
                    <td class="text-center">{{ dt.APIprocess.startTime  }}, {{ dt.APIprocess.endTime  }}</td>
                      <td class="text-center">{{ takenTime( dt.process.startTime,  dt.process.endTime) }} S</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered border-top">
                  <thead>
                    <tr class="font-weight-bold table-secondary" >
                      <th>Rule</th>
                      <th>Details/Response</th>
                      <th>Status</th>
                      <th>Triggers</th>
                      <th>Next Run Time</th>
                      <th>Last Run Time</th>
                      <th>Last Run Result</th>
                      <th>Api Summary</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dt of ApiData" [ngClass]="{' alert-danger': dt.isError  }">
                      <td>{{ dt.apiTaskName }}</td>
                      <td>{{ dt.dataProcessed.key}} {{ dt.responce | json }} </td>
                      <td>Ready</td>
                      <td> </td>
                      <td> ..</td>
                      <td> {{ dt.process.startTime }}</td>
                      <td>{{ (!dt.isError)? 'Successfull' : 'Failed'}}</td>
                      <td> Details History </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>
