<div class="main-panel">
  <div class="content-wrapper">
    <div class="row mt-5">
      <div class="col-12">
        <ul class="nav nav-tabs border-bottom-0">
          <li class="nav-item">
            <a class="nav-link " [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/home']">Active Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/approved']">Approved Jobs</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/artdashboard']">Art Dashboard</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/dashboard']">Art Productivity</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/scorecardview']">Scorecard View</a>
          </li>
          <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/performance']">API Performance</a>
          </li>
          <!-- <li class="nav-item" *ngIf="auth.roleName == 'Art Designer'">
            <a class="nav-link" [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/scorecardview']">Recent Log</a>
          </li>-->
          <li class="nav-item" *ngIf="auth.roleName == 'Digital Asset Lead'">
            <a class="nav-link " [routerLinkActive]="['active', '']" [routerLink]="['/pages/admin/jobrefres']">Job Refresh</a>
          </li>
        </ul>
      </div>
    </div>
    <form #baseForm="ngForm" class="form-horizontal border" >
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card1 mb-0">

          <div class="card-body ">
            <div class="card border-0">
              <div class="card-header bg-white border-bottom px-0 mb-3">
                  <div class="d-flex align-items-start">
                      <div class="p-0 mr-auto" >
                          <h6 style="cursor: pointer;">API Performance: Summary</h6>
                      </div>
                      <div>
                      </div>
                  </div>
              </div>

          </div>
        </div>
      </div>
    </div>

	<div class="">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card border-0">

          <div class="card-body ">
            <div class="row">
              <div class="table-responsive">
              <!--  <table class="table table-bordered border-top">
                  <thead>
                    <tr class="font-weight-bold table-secondary">
                      <th>API Name</th>
                      <!--- <th>Data Processed</th> --
                      <th>API URL</th>
                      <th>API Response</th>
                      <th>API Execution Time</th>
                      <th>API Process Excution Time</th>
                      <th>Taken time</th>

                  </tr>
                  </thead>
                  <tbody>
                    <tr  *ngFor="let dt of ApiData" [ngClass]="{' alert-danger': dt.isError  }">
                      <td>{{ dt.apiTaskName }} <span *ngIf="!!dt.dataProcessed.key">{{ dt.dataProcessed.key}}</span></td>
                     <!-- <td> {{dt.APISendInfo.data | json}}</td>--
                      <td><span *ngIf="!!dt.APISendInfo "> {{dt.APISendInfo.url }}</span></td>
                     <td class="text-center">{{ dt.responce | json }}</td>
                    <td class="text-center"><span *ngIf="!!dt.APISendInfo ">{{ dt.process.startTime  }}, {{ dt.process.endTime  }}</span></td>
                    <td class="text-center"><span *ngIf="!!dt.APISendInfo ">{{ dt.APIprocess.startTime  }}, {{ dt.APIprocess.endTime  }}</span></td>
                      <td class="text-center">{{ takenTime( dt.process.startTime,  dt.process.endTime) }} S</td>
                  </tr>
                  </tbody>
                </table> -->
              </div>
              <div class="table-responsive">
                <table class="table table-bordered border-top">
                  <thead>
                    <tr class="font-weight-bold table-secondary" >
                      <th>Rule</th>
                      <th>Details/Response</th>
                      <th>Status</th>
                      <th>Triggers</th>
                      <th>Next Run Time</th>
                      <th>Last Run Time</th>
                      <th>Last Run Result</th>
                      <th>API Summary</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let dt of ApiData" [ngClass]="{' alert-danger': dt.isError  }">
                      <td>{{ dt.apiTaskName }}</td>
                      <td><span *ngIf="!!dt.dataProcessed.key">{{ dt.dataProcessed.key}}</span> {{ dt.responce | json }} </td>
                      <td>Ready</td>
                      <td>{{ dt.process.trigger}} </td>
                      <td> {{ dt.process.nextRunTime}} </td>
                      <td> <span *ngIf="!!dt.process && !!dt.process.startTime">{{ dt.process.startTime }}</span></td>
                      <td>{{ (!dt.isError)? 'Successfull' : 'Failed'}}</td>
                      <td> <a href="javascript:void(0);" (click)="showapiDetails(dt)">Details </a>
                      <a href="javascript:void(0);" (click)="showhistoryOfApiPerformance(dt)">History</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<!--Modal dialog for bulk data verification-->
 <p-dialog header="History of API Performance" [(visible)]="historyOfApiPerformance" [responsive]="true" showEffect="fade" [modal]="true"   [contentStyle]="{'min-height':'100px','overflow':'visible' }" [style]="{width: '70%'}" [maximizable]="true">
  <div class="card">
    <div class="row mb-2">
        <div class="col-8  mt-2"> Total data:<span class="font-weight-bold"> {{cartdata.length}}</span></div>
        <div class="col-4 text-right "><a (click)="exportAsCSV()" class="text-white btn-primary btn btn-sm" >Export as CSV</a></div>

    </div>
    </div>
 <ag-grid-angular style="width: 100%; height: 400px;"
 class="ag-theme-balham"
    [rowData]="cartdata"
    [columnDefs]="cols"
    (gridReady)="onGridReady($event)"
    pagination="true" resizable=
    'true'
      >
  </ag-grid-angular>

  </p-dialog>

  <!--Modal dialog for bulk data verification-->
 <p-dialog header="API Details" [(visible)]="apiDetails" [responsive]="true" showEffect="fade" [modal]="true"   [contentStyle]="{'min-height':'100px','overflow':'visible' }" [style]="{width: '70%'}" [maximizable]="true">
  <div class="card">
    <div class="row mb-2">
        
    </div>
    </div>
    
    <div class="table-responsive"> <!--
    {{ detailsData | json}}-->
                <table class="table table-bordered border-top" *ngIf="detailsData">
                  <thead>
                    <tr class="font-weight-bold table-secondary">
                      <th>Title</th>
                      <th>Details</th>
                  </tr>
                  </thead>
                  <tbody >
                    <tr>
                     <td>API Name </td>
                     <td>{{ detailsData.apiTaskName }} for <span *ngIf=" !!detailsData.dataProcessed && !!detailsData.dataProcessed.key">{{ detailsData.dataProcessed.key}}</span></td>
                    </tr>
                    <tr>
                     <td>API URL </td>
                     <td><span *ngIf="!!detailsData.APISendInfo "> {{detailsData.APISendInfo.url }}</span></td>
                    </tr>
                    <tr *ngIf="!!detailsData.APISendInfo">
                     <td>API data sended </td>
                     <td><span *ngIf="!!detailsData.APISendInfo.data "> {{detailsData.APISendInfo.data | json }}</span></td>
                    </tr>
                    <tr [ngClass]="{' alert-danger': detailsData.isError  }">
                     <td>API Response </td>
                     <td *ngIf="!!detailsData.responce" >{{detailsData.responce}}</td>
                    </tr>
                    <tr *ngIf="!!detailsData.process">
                     <td>API Trigger </td>
                     <td> <span *ngI}f="!!detailsData.process.trigger">{{detailsData.process.trigger}}</span></td>
                    </tr>
                    <tr *ngIf="!!detailsData.process">
                     <td>API Timing </td>
                     <td>Started: <span *ngIf="!!detailsData.process.startTime">{{detailsData.process.startTime}}</span> And ended: <span *ngIf="!!detailsData.process.endTime">{{detailsData.process.endTime}}</span> and Next Run Time:<span *ngIf="!!detailsData.process.nextRunTime">{{detailsData.process.nextRunTime}}</span></td>
                    </tr>
                  </tbody>
                </table> 
              </div>
  </p-dialog>
