/* You can add global styles to this file, and also import other style files */
app-cust-desktop{ width: 100%}
th .ui-multiselect-open{ position: absolute !important;top:39px!important;}
.custom-btn-dropdown{
  padding: 8px!important;
  color: #333333!important;
  font-size: 12px!important;
  background: #ffffff!important;
  border: 1px solid #a6a6a6!important;
  transition: border-color 0.2s;
}
/*test*/
.navbar-brand-wrapper .brand-logo img{
    width: 100%!important;
    max-width: 100%!important;
    height: 65px!important;
}
h4.nav-link{
  font-size:18px!important;
  font-weight: 300;
}
dashboard{ width:100%; }
.width60Perc {
  width: 60%;
}

.width40Perc {
  width: 40%;
}

.width50Perc {
  width: 50%;
}

.width100Perc {
  width: 100%;
}

.ag-cell {
  overflow: initial !important;
}

.ag-paging-panel>span:last-child {
  display: none !important;
}

.ag-paging-panel>span:first-child {
  padding: 0;
}

.ag-paging-panel {
  position: absolute;
  float: left;
  padding: 0 !important;
  bottom: -35px;
}

.ag-paging-panel {
  font-size: medium;
}

.iconColor {
  color: #000;
  font-size: 16px;
}

.ag-theme-balham .ag-cell-focus {
  border: none;
}

.ag-icon-menu svg path {
  stroke: #fff !important;
}
