/* You can add global styles to this file, and also import other style files */
app-cust-desktop{ width: 100%}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item{
  padding:10px!important;
  font-size:12px;
}
.ui-dialog-mask{z-index:1030!important}
body .ui-dialog{z-index:1031!important}
.ui-table-scrollable-header-table colgroup col:nth-child(1), .ui-table-scrollable-body-table colgroup col:nth-child(1){width:95px!important}
th .ui-multiselect-open{ position: absolute !important;top:39px!important;}
.ui-splitbutton button{font-size:12px!important}
.ui-menubar .ui-menubar-custom, .ui-table-caption, .ui-table-summary, body .ui-table .ui-table-caption, body .ui-table .ui-table-summary{padding: 0!important}
.ui-splitbutton .ui-menuitem-link{text-align: left!important;}
.ui-menubar .ui-menubar-custom{float:none!important;;width:100%!important;}
.ui-menubar-custom .ui-multiselect{position: relative;top:11px;right:4px}
.dropdown .dropdown-menu .dropdown-item:hover{
  background:#f7f7f7;
  color:#000000;
}
.custom-btn-dropdown{
  padding: 8px!important;
  color: #333333!important;
  font-size: 12px!important;
  background: #ffffff!important;
  border: 1px solid #a6a6a6!important;
  transition: border-color 0.2s;
}
/*test*/
.navbar-brand-wrapper .brand-logo img{
    width: 100%!important;
    max-width: 100%!important;
    height: 65px!important;
}
h4.nav-link{
  font-size:18px!important;
  font-weight: 300;
}
dashboard{ width:100%; }
.width60Perc {
  width: 60%;
}

.width40Perc {
  width: 40%;
}

.width50Perc {
  width: 50%;
}

.width100Perc {
  width: 100%;
}

.ag-cell {
  overflow: initial !important;
}

.ag-paging-panel>span:last-child {
  display: none !important;
}

.ag-paging-panel>span:first-child {
  padding: 0;
}

.ag-paging-panel {
  position: absolute;
  float: left;
  padding: 0 !important;
  bottom: -35px;
}

.ag-paging-panel {
  font-size: medium;
}

.iconColor {
  color: #000;
  font-size: 16px;
}

.ag-theme-balham .ag-cell-focus {
  border: none;
}

.ag-icon-menu svg path {
  stroke: #fff !important;
}