
/* You can add global styles to this file, and also import other style files */
app-cust-desktop{ width: 100%}
app-sync-jobs { width: 100%; }
app-delete-jobs, app-jobrefres, app-jobsview, app-artload-dashboard, app-performance, app-art-dashboard, app-approvedjobs, app-art-productivity,app-scorecardview{ width: 100%}
/* for multiselect datatable dropdown overflow*/
.i-low {
  z-index:1;
}
.btn-sm1 {
  padding: 0.29rem 0.81rem!important;
}
  .p-datatable-scrollable-wrapper {

    overflow: hidden;
}
.p-datatable-frozen-view thead.p-datatable-thead> tr > th {
   padding-bottom: 7px!important
}
.p-highlight a {
  color: #ffffff !important;
  background: #007ad9 !important;
}
button.btn-primary {
    font-size: 10px;
}
.p-button.p-component.p-button-icon-only.p-ripple {
    border: 1px solid #666;
    border-left: 0;
}
.p-selectbutton.p-buttonset:first-child {
    border-left: 1px solid #666;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.custom-clear-btn{ margin-top: -4px;}
.font12{ font-size: 12px!important;}
.mt2{ margin-top:2px !important }
/* body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight{color:#000!important} */
.searchFilterBar{
  padding:3px 0 10px 0;
  text-align: left!important;
}
 .p-datatable-scrollable-header-table .p-multiselect {
  /* margin-top:-14px;
  position: absolute!important;
  */
}
.form-group label{margin-bottom: 0.35rem!important;}
.p-dropdown label.p-dropdown-label{
  position: relative;
  top:2px;
}
td .p-dropdown label.p-dropdown-label{
  position: relative;
  top:0!important;
}
.searchFilterBar .badge{
  margin-right:2px;
}
.searchFilterBar .badge i.fa-times-circle{
  font-size:14px!important
}
.searchFilterBar .badge i.fa-times-circle:hover{
  color:blue;
}
.searchFilterBar .badge.badge-light{
  background:none;
  border:1px solid #ccc;
  color: #666;
}
.searchFilterBar .badge.badge-info{
  font-weight: 700;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
.navbar-brand-wrapper{background:#07212d!important}
.newrecord{ background:#c0fbc0!important }
.flagedrecord{ background:#efd4a7!important }
.newrecord.ui-state-highlight{ background:#007ad9!important }
.flagedrecord.ui-state-highlight{ background:#007ad9!important }
.navbar { z-index: 8}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item{
  padding:10px!important;
  font-size:12px;
  flex-direction: column-reverse;
}
.killed{
  text-decoration: line-through;
  background:#8a8a8a !important;
}
.killed .btn.btn-sm{font-size:11px!important; padding: 4px;}
.p-highlight button.btn.btn-sm {
    border: 1px solid #fff;
}
.ui-menubar .ui-menubar-root-list{display: none!important;}
.form-check-label{font-size:12px!important;padding-top:2px;}
.rowCountSummary {
  font-size: 12px;
  text-align:right;
  padding:5px 8px 0 0;
  font-weight: 700;
}
/* .ui-overlaypanel-content img{
  width:40%!important;
  height: auto!important;
} */
.edited{height:63.28px}
.nonEdited{height:42.28px}

.ml-9{left:9px}
 .dropdown-item{
  font-size:11px;
}
.ui-selectbutton{position: relative;top:3px;}
.ui-dialog-mask{z-index:1030!important}
body .ui-dialog{z-index:1031!important}
/* body .ui-dialog .ui-dialog-content{height:50vh!important;} */
.ui-table-frozen-view .ui-table-scrollable-header-table colgroup col:nth-child(1), .ui-table-frozen-view .ui-table-scrollable-body-table colgroup col:nth-child(1){width:95px!important}
.ui-table-frozen-view .ui-table-scrollable-header-table .ui-table-thead > tr > th{padding-bottom: 8px!important;}
.ui-table .ui-menubar{border:0 none!important}
th .ui-multiselect-open{ position: absolute !important;top:39px!important;}
.ui-splitbutton button{font-size:11px!important}
.ui-menubar-custom{margin-bottom:8px!important}
.ui-menubar .ui-menubar-custom, .ui-table-caption, .ui-table-summary, body .ui-table .ui-table-caption, body .ui-table .ui-table-summary{padding: 0!important}
.ui-splitbutton .ui-menuitem-link{text-align: left!important;}
.ui-menubar .ui-menubar-custom{float:none!important;;width:100%!important;}
.ui-menubar-custom .ui-multiselect{position: relative;top:11px;right:4px}
.dropdown .dropdown-menu .dropdown-item:hover{
  background:#f7f7f7;
  color:#000000;
}
.custom-clear-btn{
  font-size:11px!important;
}
.custom-btn-dropdown{
  padding: 8px!important;
  color: #333333!important;
  font-size: 11px!important;
  background: #ffffff!important;
  border: 1px solid #a6a6a6!important;
  transition: border-color 0.2s;
}
.navbar-brand-wrapper .brand-logo img{
    width: 100%!important;
    max-width: 100%!important;
    height: 65px!important;
}
h4.nav-link{
  font-size:18px!important;
  font-weight: 300;
  color: #fff!important;
}
dashboard{ width:100%; }
.width60Perc {
  width: 60%;
}
.table-responsive > table > thead{
  font-weight: 700;
}
.width40Perc {
  width: 40%;
}

.width50Perc {
  width: 50%;
}

.width100Perc {
  width: 100%;
}
.iconColor {
  color: #000;
  font-size: 16px;
}
.p-menubar .p-menubar-custom, .p-menubar .p-menubar-end {
  margin-left: auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 100%;
}
label {
  padding: 0.19rem 0.19rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.p-table .p-table-thead > tr > th,
.p-table .p-table-tbody > tr > td,
.p-table .p-table-tfoot > tr > td {
    padding: .25em .5em;
}


@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
