<div class="main-panel">
    <div class="content-wrapper">
      <div class="row mt-5">
        <div class="col-12">
        </div>
      </div>
      <form #baseForm="ngForm" class="form-horizontal" (submit)="filterData()">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-header">
                <div class="d-flex d-flex justify-content-end">
                    <div>
                        <a (click)="viewSavedSearchList()"><small>Saved Search List</small></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
              <div class=" row ">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="formGroupExampleInput2" class="col-sm-12 pl-0">Grade</label>
                    <p-multiSelect [options]="Gdata" [(ngModel)]="frmdt.grade" name="grade" optionLabel="value"
                        selectedItemsLabel="{0} selected" [style]="{minWidth: '100%'}"
                        defaultLabel="Choose Grade" name="grade">
                    </p-multiSelect>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="formGroupExampleInput2" class="col-sm-12 pl-0">Module</label>
                    <p-multiSelect [options]="Mdata" [(ngModel)]="frmdt.module" optionLabel="value"
                        selectedItemsLabel="{0} selected" [style]="{minWidth: '100%'}"
                        defaultLabel="Choose Module" name="module">
                    </p-multiSelect>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="formGroupExampleInput2">Batch</label>
                    <input type="text" name="batch" pInputText [(ngModel)]="artLogModel.batch.value" placeholder="Batch"
                      class="form-control form-control-sm"  />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="workflow" class="col-sm-12 pl-0">Workflow </label>
                    <p-dropdown [options]="workflows" [(ngModel)]="frmdt.workflow" optionLabel="value"
                        id="workflow" name="workflow" [style]="{minWidth: '100%'}"
                        placeholder="Choose Workflow" name="workflow">
                    </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="curriculum" class="col-sm-12 pl-0">Curriculum</label>
                    <p-dropdown [options]="wip" [(ngModel)]="artLogModel.curricula.value" 
                        name="curriculum" id="curriculum" [style]="{minWidth: '100%'}"
                        placeholder="Choose Curriculum">
                    </p-dropdown>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="formGroupExampleInput2" class="col-sm-12 pl-0">Completion Status </label>
                    <p-multiSelect [options]="jobStatus" [(ngModel)]="frmdt.status" optionLabel="header"
                        selectedItemsLabel="{0} selected" [style]="{minWidth: '100%'}"
                        defaultLabel="Choose Status" name="status">
                    </p-multiSelect >
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <div class="form-check col-sm-12 pl-0">
                          <input type="checkbox" class="form-check-input" [(ngModel)]="artLogModel.added.value"  name="added"
                          id="named">
                            <label class="form-check-label" for="exampleCheck1">Added jobs Only</label>
                          </div>
                      </div>
                  </div>
              </div>            
            </div>
            <div class="card-footer text-right">
              <button type="button" (click)="clearData()" class="btn btn-secondary btn-sm mr-1">Reset</button>
              <button type="submit" class="btn btn-primary btn-sm mr-1">Search</button>
              <button type="button" *ngIf="isSaveSearch" (click)="saveSearchDialog()" class="btn btn-primary btn-sm">Save Search</button>
            </div>
          </div>
        </div>
      </div>
    </form>
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p-table #dt editMode="row" dataKey="_id" [value]="cartdata" 
          selectionMode="multiple" scrollable="true" [loading]="dataloading" 
          [frozenColumns]="freezeCols" [columns]="scrollableCols" frozenWidth="170px"
          scrollHeight="450px" (onFilter)="onFilter($event, dt)">
          <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" style="width:175px">
            </colgroup>
          </ng-template>
          
          <ng-template pTemplate="caption">
            <p-menubar>              
              <div class="d-flex">
                  <div class="pl-2">                                        
                    <a type="button" (click)="clearGridState()" label="" class="btn btn-sm" *ngIf="!!gridState && gridState.hasOwnProperty('searchTitle')"> {{gridState.searchTitle}} <i class="fa fa-close"></i></a>
                    </div>
                  <div class="pl-2 mr-auto">
                      <form class="form-inline my-lg-0">
                          <div class="input-group">
                            <input type="text" [(ngModel)]="artLogModel.jobkey.value" name="jobkey" placeholder="Job Key (eg. SCI-1164)"
                              class="form-control form-control-sm">
                            <div class="input-group-append"><button (click)="searchByjobKey($event)" type="button"
                                class="btn btn-secondary btn-sm">Search</button>
                            </div>
                          </div>
                        </form>
                  </div>
              <div class="pr-2">
                <!--selectedColumn  -->
                  <p-multiSelect [options]="fixCol" [(ngModel)]="scrollableCols" (onChange)="updateSelection()" optionLabel="header" 
                    selectedItemsLabel="{0} columns selected" defaultLabel="Choose Columns">
                  </p-multiSelect>
              <div class="btn-group">
                <button class="btn btn-primary btn-sm" type="button">
                  Export Data
                </button>
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right ml-9">
                  <a class="dropdown-item" (click)="dt.exportCSV()">All Data</a>
                  <a class="dropdown-item" (click)="dt.exportCSV({selectionOnly:true})">Selected Row(s)</a>
                </div>
              </div>            
              <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add Row" class="btn btn-sm ui-button-primary ml-1"></button>
              <button type="button" pButton icon="fa fa-floppy-o" (click)="saveGridState()" label="Save Grid State" class="btn btn-sm ui-button-primary ml-1"></button>
                </div>
              </div>
              <p class="rowCountSummary">Showing {{filteredValuesLength}} of {{cartdata?.length}} entries</p>
            </p-menubar>
  
          </ng-template>
          <ng-template pTemplate="header" let-columns>
            <tr>
              <!-- <th *ngFor="let col of fixCol"> {{col.header}} </th> -->
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                  <div *ngSwitchCase="''">
                      {{col.header}}
                  </div>
                <div *ngSwitchCase="'job_key'">
                    {{col.header}}
                </div>
                <div *ngSwitchDefault [pSortableColumn]="col.field">
                  {{col.header}}
                  <p-sortIcon  [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                  </p-sortIcon>
                </div>
              </th>
            </tr>
            <tr>
              
              <th *ngFor="let col of columns" [ngSwitch]="col.field">
                
                <!-- <p-dropdown *ngSwitchCase="'totalage'" [options]="totalage" [style]="{'width':'100%'}"
                  (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>-->
                <input *ngSwitchCase="'job_key'" placeholder="Search Job Key" pInputText type="text" [(ngModel)]="grid.jobkey" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)" [style]="{minWidth: '155px'} " class="mt2">
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'lesson'" [(ngModel)]="grid.lesson"  [options]="lessons" defaultLabel="All Lessons"
                  (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'component'"  [(ngModel)]="grid.component" [options]="components" defaultLabel="All Components"
                  (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                  <p-multiSelect  maxSelectedLabels="1" *ngSwitchCase="'currentRTeam'" [(ngModel)]="grid.currentRTeam"  [options]="GcurrentRTeam" defaultLabel="All Team" 
                  (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'curriculum'" [(ngModel)]="grid.curriculum"  [options]="Gcurriculum" defaultLabel="All Curriculum" 
                  (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'artcomplex'" [(ngModel)]="grid.artcomplex"  [options]="Gartcomplexs" defaultLabel="Art Complexity" 
                  (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'artassion'" [(ngModel)]="grid.artassion" [options]="Gartassions" defaultLabel="Art Assignment" 
                  (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'risk'" [(ngModel)]="grid.risk" [options]="Grisks" defaultLabel="All Risk" optionLabel="value"
                  (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'impact'" [(ngModel)]="grid.impact" [options]="Gimpacts" defaultLabel="All Impact" 
                (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'module'" [(ngModel)]="grid.module" [options]="modules" defaultLabel="All Modules" 
                  (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'grade'" [(ngModel)]="grid.grade" [options]="grades" defaultLabel="All Grades" 
                  (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
                <p-multiSelect maxSelectedLabels="1" *ngSwitchCase="'workflow'" [(ngModel)]="grid.workflow" [options]="Gworkflow" defaultLabel="All Workflow"
                (onChange)="dt.filter($event.value, col.field, 'in')" [style]="{minWidth: '155px'}"></p-multiSelect>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-columns="columns" let-rowData let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="rowData" [pSelectableRow]="rowData" class="myClass {{isDuplicate(rowData, editing)}} {{setEditableHeight(editing)}}">
              <!--
              DATA FOR EDITING 
              -->
              <td *ngFor="let col of columns" class="{{ellipsisData(col)}}"> 
                  
                  <ng-container *ngIf="col.field =='job_key' " > <!-- *ngSwitchCase="'job_key'"-->
                    <ng-container  *ngIf="checkEdit(col.field, rowData)">
                        <button *ngIf="!editing" pButton type="button" label="{{rowData[col.field]}}" pInitEditableRow icon="pi pi-pencil"
                        class=" btn btn-sm btn-primary" (click)="onRowEditInit(rowData, editing)"></button>
                    </ng-container>
                    <a *ngIf="!checkEdit(col.field, rowData)" href="https://greatminds.getbynder.com/workflow/job/view/{{rowData[col.field]}}" target="_blank">
                    {{rowData[col.field]}}
                    </a>
                    <button *ngIf="editing" pButton label="{{rowData[col.field]}}"  type="button" pSaveEditableRow icon="pi pi-check"
                      class=" btn btn-sm ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                    <button *ngIf="editing" pButton type="button"  pCancelEditableRow icon="pi pi-times"
                      class=" btn btn-sm ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                  </ng-container>
                  
                  <p-cellEditor *ngIf="col.field =='lesson' " >
                    <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="rowData.lesson" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                  <p-cellEditor *ngIf="col.field =='component' " >
                      <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.component" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                      </ng-template>
                  </p-cellEditor>
                  <p-cellEditor *ngIf="col.field =='lessonlet' " >
                      <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.lessonlet" required>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                      </ng-template>
                  </p-cellEditor>
                  <p-cellEditor *ngIf="col.field =='description' " pTooltip="{{rowData.description}}" tooltipPosition="top">
                      <ng-template pTemplate="input">
                        <textarea pInputTextarea type="text" [(ngModel)]="rowData.description" required></textarea>
                      </ng-template>
                      <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                      </ng-template>
                  </p-cellEditor>
                  <ng-container *ngIf="col.field =='thumb' && !!rowData.thumb" >
                      <button pButton icon="pi pi-search " class="btn btn-sm" (click)="selectedImages($event, rowData, op3)"></button>
                  </ng-container>
                  <span *ngIf="col.field =='cstage' " pTooltip="{{rowData.cstage}}" tooltipPosition="top">
                      {{rowData[col.field]}}
                  </span>
                  <ng-container *ngIf="col.field =='currentRTeam' ">
                      {{rowData[col.field]}}
                  </ng-container>
                  <ng-container *ngIf="col.field =='curriculum' " >
                      {{rowData[col.field]}}
                  </ng-container>
                  <ng-container *ngIf="col.field =='totalage' " >
                      {{rowData[col.field]}}
                  </ng-container>
                  <ng-container *ngIf="col.field =='lastage' ">
                      {{rowData[col.field]}}
                  </ng-container>
                  <p-cellEditor *ngIf="col.field =='comment' " pTooltip="{{rowData.comment}}" tooltipPosition="top">
                    <ng-template pTemplate="input">
                      <textarea pInputTextarea type="text" [(ngModel)]="rowData.comment" required></textarea>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                  <div *ngIf="col.field =='mverification' ">
                      {{rowData[col.field]}}
                  </div>
                  <p-cellEditor *ngIf="col.field =='tags' " pTooltip="{{rowData.tags}}" tooltipPosition="top">
                    <ng-template pTemplate="input">
                      <textarea pInputTextarea type="text" [(ngModel)]="rowData.tags" required></textarea>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                  <p-cellEditor *ngIf="col.field =='isPaging' ">
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="pagingCol" [(ngModel)]="rowData.isPaging" [style]="{'width':'100%'}">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                  <p-cellEditor *ngIf="col.field =='artcomplex' ">
                    <ng-template pTemplate="input">
                    <p-dropdown [options]="artcomplexs" [(ngModel)]="rowData.artcomplex" [style]="{'width':'100%'}">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                  <p-cellEditor *ngIf="col.field =='artassion' ">
                    <ng-template pTemplate="input">
                    <p-dropdown [options]="artassions" [(ngModel)]="rowData.artassion" [style]="{'width':'100%'}">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                      {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                 <p-cellEditor *ngIf="col.field =='risk' ">
                        <ng-template pTemplate="input">
                          <p-dropdown [options]="risks" [(ngModel)]="rowData.risk" [style]="{'width':'100%'}">
                          </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData[col.field]}}
                        </ng-template>
                      </p-cellEditor>
                  <p-cellEditor *ngIf="col.field =='impact' ">
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="impacts" [(ngModel)]="rowData.impact" [style]="{'width':'100%'}">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                  <p-cellEditor *ngIf="col.field =='module' ">
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="Mdata" [(ngModel)]="rowData.module" [style]="{'width':'100%'}">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                  <p-cellEditor *ngIf="col.field =='grade' ">
                    <ng-template pTemplate="input">
                      <p-dropdown [options]="Gdata" [(ngModel)]="rowData.grade" [style]="{'width':'100%'}">
                      </p-dropdown>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData[col.field]}}
                    </ng-template>
                  </p-cellEditor>
                  <ng-container *ngIf="col.field =='batch' "  >
                      {{rowData[col.field]}}
                  </ng-container>
                  <ng-container *ngIf="col.field =='workflow' ">
                      {{rowData[col.field]}}
                  </ng-container>
                </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                  <td [attr.colspan]="columns.length">
                      No records found
                  </td>
              </tr>
          </ng-template>
        </p-table>        
      </div>
    </div>
  </div>
  </div>
  </div>
  
  <p-overlayPanel #op3 [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" [dismissable]="true" [showCloseIcon]="true">
      <img src="{{selectedData.thumb}}" *ngIf="selectedData" class="img-fluid"/> 
  </p-overlayPanel>  
    <!--Modal dialog for add new records-->
  <p-dialog header="Add new record(s)" [(visible)]="displayDialog" [modal]="true" showEffect="fade" [responsive]="true" [baseZIndex]="10000" [style]="{width: '650px', height:'300px', minHeight:'300px'}" [minY]="70" 
  [maximizable]="true" [baseZIndex]="10000">
      <form [formGroup]="form" (ngSubmit)="submit()" #documentEditForm="ngForm">
        <div class="ui-g ui-fluid" >         
                <div class="col-12 p-0">                 
                     <div class="card-body p-2">
                        <div class="row" formArrayName="jobAdd">
                          <div class="col-12" *ngFor="let contact of contactFormGroup.controls; let i = index;">
                            <div [formGroupName]="i" class="row">
                              <div class="form-group col-md-4">
                                  <label for="formGroupExampleInput2" class="col-sm-12 pl-0">Grade</label>
                                  <p-dropdown formControlName="grade" [options]="Gdata" name="grade" optionLabel="label"
                                      selectedItemsLabel="{0} selected" [style]="{minWidth: '200px'}"
                                      defaultLabel="Choose Grade" >
                                  </p-dropdown>
                              </div>
                              <div class="form-group col-md-4">
                                  <label for="formGroupExampleInput2" class="col-sm-12 pl-0">Module</label>
                                  <p-dropdown formControlName="module" [options]="Mdata" optionLabel="label"
                                      selectedItemsLabel="{0} selected" [style]="{minWidth: '200px'}"
                                      defaultLabel="Choose Grade" name="module">
                                  </p-dropdown>
                              </div>
                              <div class="form-group col-md-3">
                                <label>Job Key</label>
                                <input type="text" pInputText formControlName="jobkey" name="jobkey"/>
                                <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['jobkey'].touched && getContactsFormGroup(i).controls['jobkey'].hasError('required')">
                                  Job Key is required! </span>
                              </div>
                              <div class="form-group col-md-1 mt-3" *ngIf="i!=0">
                                  <button pButton type="button" icon="pi pi-times"
                                  class="mt-1 ui-button-danger btn btn-sm" (click)="removeContact(i)"></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>       
      </div>      
    </form>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix mt-2 text-right">
          <button type="button" class="btn btn-sm" pButton icon="fa fa-plus" (click)="addContact()" label="Add Row"></button>
          <button type="button" class="ml-1 btn btn-sm" pButton icon="fa fa-check" (click)="documentEditForm.ngSubmit.emit()" label="Save"></button>
      </div>
  </p-footer>
  </p-dialog>
<!--Modal dialog for Saved Search-->
<p-dialog header="Save Search" [(visible)]="saveSearchModal" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '30%'}">
  <div class="ui-g ui-fluid">           
      <div class="ui-g-12 ui-md-12">
          <div class="ui-inputgroup">                                        
              <input type="text"  pInputText  [(ngModel)]="searchText" name="searchText" />    
              <button pButton type="button" (click)="saveUserSerach()" icon="pi pi-check" class="ui-button-success"></button> 
          </div>
      </div>
  </div>
</p-dialog>
  <app-custom-modal-pop-up [basicSetting]="editSetting" [template]="editPopup"></app-custom-modal-pop-up>
  <ng-template #editPopup>
  <app-editjob [jobdataid]="jobID">
  </app-editjob>
</ng-template>
<!--Modal dialog for Saved Search List-->
<p-dialog header="Saved Search List" [(visible)]="savedSearchListModal" [responsive]="true" showEffect="fade" [modal]="true"  [style]="{width: '30%'}">
        <div class="ui-g ui-fluid">           
            <p-table [value]="savedsearchLists">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Selected</th>
                        <th>Search Name</th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-savedsearchList>
                    <tr>
                        <td><p-radioButton name="groupname" [value]="savedsearchList._id" [(ngModel)]="defaultSearch" (onClick)="setDefaltSearch($event)" value="val1" ></p-radioButton></td>
                        <td>{{savedsearchList.searchTitle }}</td>
                        <td><button type="button" pButton icon="fa fa-close" class="ui-button-danger btn btn-sm" (click)="deleteSearchList(savedsearchList)"></button></td>
                    </tr>
                </ng-template>
            </p-table>
          </div> 
  </p-dialog>